*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.container {
  padding: 0 20rem;
  margin: 10rem 0;
}

.container-fluid {
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 2;
}

.pri-btn {
  margin: 0 10px;
  padding: 1rem 2rem;
  background-color: #fff;
  color: #000;
  font-size: 17px;
  font-weight: 600;
  border: 0;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.sec-btn {
  padding: 10px 15px;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  background-color: transparent;
  border: 0;
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 50%;
  }

  .container {
    margin: 5rem 0;
    padding: 0 2rem;
  }

  p {
    line-height: 1.5;
  }
}
@media only screen and (max-width: 800px) {
  p {
    line-height: 1.7;
  }
}
@media only screen and (max-width: 400px) {
  html {
    font-size: 42.5%;
  }

  .container {
    padding: 0 2rem;
  }

  .pri-btn,
.sec-btn {
    font-size: 2rem;
  }
}
.header {
  position: relative;
  overflow: hidden;
  max-height: 70rem;
}
.header--background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  object-fit: cover;
}
.header--main {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header--nav {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.header--logo {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
}
.header--btn-group {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: fit-content;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
}
.header--content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header--title {
  margin-top: 10rem;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
}
.header--form {
  width: fit-content;
  margin-top: 3rem;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  display: flex;
  align-items: center;
}
.header--form .fa-solid {
  font-size: 2.5rem;
}
.header--form .fa-location-dot {
  color: #c3c3c3;
}
.header--form .fa-arrow-right {
  color: #fff;
  background-color: #ec1700;
  padding: 0.5rem 0.6rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.header--form input {
  border: none;
  outline: none;
  padding: 0.5rem 2rem;
  padding-right: 17rem;
  font-size: 1.7rem;
}
.header--link {
  color: #fff;
  margin-top: 2.5rem;
  font-size: 1.5rem;
  text-decoration: underline;
}

@media only screen and (max-width: 1200px) {
  .header--title {
    font-size: 5.5rem;
  }
}
@media only screen and (max-width: 800px) {
  .header--logo {
    margin-top: 6rem;
  }
  .header--title {
    font-size: 4rem;
    margin-top: 3rem;
  }
  .header--nav {
    flex-direction: column;
  }
  .header--btn-group {
    position: relative;
  }
  .header--link a {
    font-weight: 600;
  }
}
@media only screen and (max-width: 400px) {
  .header--main {
    padding: 1rem;
  }
  .header--title {
    font-size: 2.5rem;
  }
  .header--logo {
    font-size: 3rem;
    margin-top: 1rem;
  }
}
.hero-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(1, auto);
}
.hero-container--item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.hero-container--item h4 {
  font-size: 3.5rem;
  font-weight: 600;
  margin: 1.2rem 0;
}
.hero-container--item p,
.hero-container--item pre {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  font-weight: 500;
}
.hero-container--item a {
  color: #ec1700;
  font-size: 1.5rem;
  font-weight: 500;
}

@media only screen and (max-width: 800px) {
  .hero-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, auto);
  }
  .hero-container--item {
    flex-direction: row;
    justify-content: center;
  }
}
@media only screen and (max-width: 400px) {
  .hero-container {
    width: 100%;
  }
  .hero-container--item {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
.content-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.content-container .text {
  margin-bottom: 20rem;
}
.content-container .text h3 {
  font-weight: 600;
  font-size: 4rem;
  line-height: 1.4;
}
.content-container .text p {
  font-weight: 500;
  font-size: 1.5rem;
  margin: 1rem 0;
}
.content-container .text .btn {
  background-color: #ec1700;
  color: #fff;
  margin: 2rem 0;
}

.content-container.left .text {
  margin-right: 2rem;
}

.content-container.right .text {
  margin-left: 4rem;
}

@media only screen and (max-width: 1300px) {
  .content-container {
    align-items: flex-start;
  }
  .content-container .image img {
    max-width: 600px;
  }
}
@media only screen and (max-width: 1200px) {
  .content-container {
    align-items: flex-start;
  }
  .content-container .image img {
    max-width: 600px;
  }
}
@media only screen and (max-width: 800px) {
  .content-container .image img {
    max-width: 400px;
  }
  .content-container.right {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 400px) {
  .content-container {
    flex-direction: column;
  }
  .content-container .text {
    margin: 2rem 0;
  }
  .content-container.left {
    flex-direction: column-reverse;
  }
  .content-container.right .text {
    margin-left: 0;
  }
  .content-container .image {
    width: 100%;
    overflow: hidden;
  }
  .content-container .image img {
    width: 100%;
    object-fit: cover;
  }
}
.footer {
  margin-bottom: 0;
  color: #fff;
  font-size: 1.2rem;
  background-color: #191919;
}
.footer--link {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.footer--link-item {
  margin: 2rem 0;
}
.footer--link-item h5 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.footer--link-item div {
  width: 100%;
  display: flex;
}
.footer--link-item div ul {
  margin: 0 1rem;
  width: 100%;
}
.footer--link-item div ul:first-of-type {
  margin-left: 0;
}
.footer--link-item div ul li {
  line-height: 2.1;
}
.footer--link-item div ul li:hover {
  cursor: pointer;
  text-decoration: underline;
}
.footer--link-item:nth-child(3) {
  display: flex;
}
.footer--link-item:nth-child(3) div {
  display: flex;
  flex-direction: column;
}
.footer--link-item:nth-child(4) {
  display: flex;
  flex-direction: column;
}
.footer--link-item:nth-child(4) div {
  margin: 1rem 0;
  width: fit-content;
  align-self: flex-end;
  cursor: pointer;
}
.footer--link-item:nth-child(4) div:hover {
  text-decoration: underline;
}
.footer--social {
  padding: 1rem 0 3rem;
  display: flex;
  justify-content: space-between;
}
.footer--social div span {
  margin: 0 1.5rem;
  cursor: pointer;
}
.footer--social div span:first-of-type {
  margin-left: 0;
}
.footer--social div span:hover {
  text-decoration: underline;
}
.footer--social div i {
  display: inline-block;
  font-size: 1.5rem;
  margin: 0 1rem;
  cursor: pointer;
}
.footer--social div i:last-of-type {
  margin-right: 0;
}

@media only screen and (max-width: 1200px) {
  .footer {
    font-size: 1.6rem;
  }
  .footer--link-item h5 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 800px) {
  .footer {
    margin-top: 0;
  }
  .footer--link {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
  }
  .footer--link-item:last-child div {
    align-self: center;
  }
}
@media only screen and (max-width: 400px) {
  .footer--social {
    flex-direction: column;
    justify-content: center;
  }
  .footer--social div {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */