$font: 'Poppins', sans-serif;
$color-red: #ec1700;
$color-black: #000;
$color-footer: #191919;
$color-white: #fff;
$color-grey: #c3c3c3;
$padding-pri: 0 30rem;
$font-size-pri: 60px;
$font-size-sec: 30px;
$font-size-thi: 20px;
$font-size-four: 17px;
$max-height-background: 70rem;
// @media screen and (max-width: 1200px) {
//   $padding-pri: 0 10rem;
// }
